<form>
    <div style="display: none"><label for="_id">MongoDB ID</label>
        <input type="text" id="_id" value="{{ income['_id'] }}" readonly></div>
    <div class="income-property">
        <div class="income-property-updatable">
            <label for="description">Description</label>
            <textarea id="description" readonly>{{ income["description"] }}</textarea>

            <label for="tenant">Tenant</label>
            <input type="text" id="tenant" value="{{ income['for_tenant'] }}" readonly>

            <label for="amount">Amount</label>
            <input type="number" id="amount" value="{{ income['amount'] }}" readonly>
            <label for="category">Category</label>
            <input type="text" id="category" value="{{ income['category'] }}" readonly>

            <label for="arrived_date">Arrived Date</label>
            <input type="date" id="arrived_date" value="{{ income['arrived_date'] }}" readonly>
            <label for="from_date">From Date</label>
            <input type="date" id="from_date" value="{{ income['from_date'] }}" readonly>
            <label for="to_date">To Date</label>
            <input type="date" id="to_date" value="{{ income['to_date'] }}" readonly>
        </div>
    </div>
    <label for="btn-action"></label>
    <input type="button" id="btn-action" class="button" value="Update">
</form>