<script>
    const btnAction = $('#btn-action');
    const incomeCategory = $('#category');
    const arrivedDate = $('#arrived_date');
    const fromDate = $('#from_date');
    const toDate = $('#to_date');

    $(document).ready(function () {
        if ("{{ action }}" === "add")  {
            toggleLockAndUnlockForm(false);
            $(".income-property-readonly input").prop("readonly", false);
            btnAction.val("Add");
        }
        {% for cate in categories %}
            incomeCategory.append(new Option("{{ cate['name'] }}", "{{ cate['name'] }}"));
        {% endfor %}
        if ('read' === "{{ action }}") {
            incomeCategory.val("{{ category }}").change();
            incomeCategory.attr("disabled", "disabled");
        }
    });

    function toggleLockAndUnlockForm(flag = false) {
        $(".income-property-updatable input").prop("readonly", flag);
        $(".income-property-updatable textarea").prop("readonly", flag);
        $(".income-property-updatable select").prop("disabled", flag);
    }

    function extractData() {
        return {
            'for_tenant': $('#tenant').val(),
            'description': $('#description').val(),
            'amount': parseFloat($('#amount').val()),
            'category': $('#category').val(),
            'arrived_date': $('#arrived_date').val(),
            'from_date': $('#from_date').val(),
            'to_date': $('#to_date').val()
        };
    }

    function saveChanges() {
        console.log("updating the income...");
        const URL = "/income/update/" + $('#_id').val();
        const updated = extractData();
        console.log(updated);
        fetch(URL, {
            method: 'PUT',
            headers: {
                'Accept': 'application/json; charset=utf-8',
                'Content-Type': 'application/json; charset=utf-8'
            },
            body: JSON.stringify(updated)
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response failed!!!');
            }
            return response.json();
        }).then(data => {
            console.log(data);
            toastr.success(data["message"]);
        }).catch(error => {
            console.error('Error: ', error);
        });

        toggleLockAndUnlockForm(true);
    }

    function addNewIncome() {
        console.log("adding a new income...");
        const URL = "/income/add";
        const newIncome = extractData();
        console.log(newIncome);
        fetch(URL, {
            method: 'POST',
            headers: {
                'Accept': 'application/json; charset=utf-8',
                'Content-Type': 'application/json; charset=utf-8'
            },
            body: JSON.stringify(newIncome)
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response failed!!!');
            }
            return response.json();
        }).then(data => {
            console.log(data);
            toastr.success(data["status_code"] + ": " + data["id"]);
        }).catch(error => {
            console.error('Error: ', error);
        });
    }

    arrivedDate.on("change", function () {
        const cate = incomeCategory.val();
        if (cate === "Standing Order") {
            const d = calStartAndEndDayOfWeek($(this).val());
            if (d) {
                let begin = new Date(d[0]);
                begin = begin.toISOString().split('T')[0];
                fromDate.val(begin);
                let end = new Date(d[1]);
                end = end.toISOString().split('T')[0];
                toDate.val(end);
            }
        }
    });

    btnAction.on('click', function () {
        let val = $(this).val();
        if (val === "Save") {
            saveChanges();
        } else if (val === "Update") {
            toggleLockAndUnlockForm(false);
        } else if (val === "Add") {
            addNewIncome();
            return;
        }
        val = val === "Update" ? "Save" : "Update";
        $(this).val(val);
    });
</script>