<div class="grid-x grid-padding-x">
    <div class="small-12 medium-12 large-12 cell">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li><a href="/">Home</a></li>
                    <li>
                        <a href="/tenants/list">Tenants</a>
                        <!--<ul class="menu vertical">
                            <li><a href="#">One</a></li>
                            <li><a href="#">Two</a></li>
                            <li><a href="#">Three</a></li>
                        </ul>-->
                    </li>
                    <li><a href="/rents/list">Rents</a></li>
                    <li><a href="/categories">Categories</a></li>
                    <li><a href="/reports">Reports</a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><label>
                        <input type="search" placeholder="Search">
                    </label></li>
                    <li>
                        <button type="button" class="button">Search</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>