<form>
    <div style="display: none"><label for="_id">MongoDB ID</label>
        <input type="text" id="_id" value="{{ rent['_id'] }}" readonly></div>
    <div class="rent-property">
        <div class="rent-property-updatable">
            <label for="tenant-id">Tenant/Resident</label>
            <select name="tenants" id="tenant-id" disabled>
            </select>
        </div>
        <div class="rent-property-updatable">
            <label for="week-commence">Week Commence</label>
            <input type="text" id="week-commence" value="{{ rent['week_commence'] }}" readonly>
            <label for="rent-due">Rent Due</label>
            <input type="number" id="rent-due" value="{{ rent['rent_due'] }}" readonly>
            <label for="services">Services</label>
            <input type="number" id="services" value="{{ rent['services'] }}" readonly>
            <label for="utilities">Utilities</label>
            <input type="number" id="utilities" value="{{ rent['utilities'] }}" readonly>
            <label for="meals">Meals</label>
            <input type="number" id="meals" value="{{ rent['meals'] }}" readonly>
            <label for="extra">Extra</label>
            <input type="number" id="extra" value="{{ rent['extra'] }}" readonly>
            <label for="standing-order">Standing Order</label>
            <input type="number" id="standing-order" value="{{ rent['standing_order'] }}" readonly>
            <label for="payment-date">Payment Date</label>
            <input type="text" id="payment-date" value="{{ rent['payment_date'] }}" readonly>
            {#<label for="date-creation">Date of Creation</label>
            <input type="text" id="date-creation" value="{{ rent['creation'] }}" readonly>
            <label for="date-modification">Date of Modification</label>
            <input type="text" id="date-modification" value="{{ rent['modification'] }}" readonly>#}
            <label for="notes">Notes</label>
            <textarea id="notes" readonly>{{ rent["notes"] }}</textarea>
        </div>
    </div>
    <label for="btn-action"></label>
    <input type="button" id="btn-action" class="button" value="Update">
</form>