{% if rents %}
    <table class="stack">
    <tr>
        <th>Week Commence</th>
        <th>Rent Due</th>
        <th>Services</th>
        <th>Utilities</th>
        <th>Meals</th>
        <th>Extra</th>
        <th>Total</th>
    </tr>
{% for rent in rents %}
    <tr>
        <td>{{ rent["week_commence"].strftime("%d/%m/%Y") }}</td>
        <td>{{ rent["rent_due"] }}</td>
        <td>{{ rent["services"] }}</td>
        <td>{{ rent["utilities"] }}</td>
        <td>{{ rent["meals"] }}</td>
        <td>{{ rent["extra"] }}</td>
        <td>{{ "{:,.2f}".format(rent["rent_due"]+rent["services"]+rent["utilities"]+rent["meals"]+rent["extra"]) }}</td>
    </tr>
{% endfor %}
    <tr style="font-weight: bold">
        <td>Total</td>
        <td>{{ "{:,.2f}".format(total_rents["rent_due"]) }}</td>
        <td>{{ "{:,.2f}".format(total_rents["services"]) }}</td>
        <td>{{ "{:,.2f}".format(total_rents["utilities"]) }}</td>
        <td>{{ "{:,.2f}".format(total_rents["meals"]) }}</td>
        <td>{{ "{:,.2f}".format(total_rents["extra"]) }}</td>
        <td>{{ "{:,.2f}".format(total_rents["total"]) }}</td>
    </tr>
{% endif %}
{% if incomes %}
    <h3 style="color: green">Filtered results</h3>
    <table class="stack">
    <tr>
        <th>Category</th>
        <th>Amount</th>
        <th>Arrived Date</th>
        <th>From Date</th>
        <th>To Date</th>
    </tr>
    {% if show_subtotal %}
    {% for k, v in groups.items() %}
        {% for income in v %}
            <tr>
                <td>{{ income["category"] }}</td>
                <td style="text-align: right">{{ "{:,.2f}".format(income["amount"]) }}</td>
                <td>{{ income["arrived_date"].strftime("%d/%m/%Y") }}</td>
                <td>{{ income["from_date"].strftime("%d/%m/%Y") }}</td>
                <td>{{ income["to_date"].strftime("%d/%m/%Y") }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td><span style="font-style: italic">Total for </span>
                <strong>{{ k }}</strong></td>
            <td style="text-align: right; font-weight: bold">{{ total_groups[k] }}</td>
            <td colspan="3">&nbsp;...</td>
        </tr>
    {% endfor %}
    {% else %}
    {% for income in incomes %}
{#    <div class="row">
        <div class="columns small-12 medium-12 large-12">
            <p>{{ income }}</p>
        </div>
    </div>#}
        <tr>
            <td>{{ income["category"] }}</td>
            <td style="text-align: right">{{ "{:,.2f}".format(income["amount"]) }}</td>
            <td>{{ income["arrived_date"].strftime("%d/%m/%Y") }}</td>
            <td>{{ income["from_date"].strftime("%d/%m/%Y") }}</td>
            <td>{{ income["to_date"].strftime("%d/%m/%Y") }}</td>
        </tr>
    {% endfor %}
    {% endif %}
    <tr>
        <td style="font-style: italic">Total for all categories</td>
        <td style="text-align: right; font-weight: bold">{{ "{:,.2f}".format(total_amount) }}</td>
        <td colspan="3">&nbsp;...</td>
    </tr>
    </table>
{% else %}
<div class="row">
    <div class="columns small-12 medium-12 large-12">
        <h4>No record found!!!</h4>
    </div>
</div>
{% endif %}