<form>
    <div style="display: none"><label for="_id">MongoDB ID</label>
        <input type="text" id="_id" value="{{ tenant['_id'] }}" readonly></div>
    <div class="tenant-property">
        <div class="tenant-property-readonly">
            <label for="id">Tenant ID</label>
            <input type="text" id="id" value="{{ tenant['id'] }}" readonly></div>
        <div class="tenant-property-updatable">
            <label for="name">Name</label>
            <input type="text" id="name" value="{{ tenant['name'] }}" readonly>
            <label for="gender">Gender</label>
            <input type="text" id="gender" value="{{ tenant['gender'] }}" readonly>
            <label for="dob">DOB</label>
            <input type="text" id="dob" value="{{ tenant['dob'] }}" readonly>
            <label for="room">Room</label>
            <input type="text" id="room" value="{{ tenant['room'] }}" readonly>
            <label for="hb">Housing Benefit</label>
            <input type="text" id="hb" value="{{ tenant['hb'] }}" readonly>
            <label for="date-creation">Date of Creation</label>
            <input type="text" id="date-creation" value="{{ tenant['creation'] }}" readonly>
            <label for="date-modification">Date of Modification</label>
            <input type="text" id="date-modification" value="{{ tenant['modification'] }}" readonly>
            <label for="notes">Notes</label>
            <textarea id="notes" readonly>{{ tenant['notes'] }}</textarea>
        </div>
    </div>
    <label for="btn-action"></label><input type="button" id="btn-action" class="button"
                                           value="Update">
</form>