<!DOCTYPE html>
<html lang="en">
<head>
    <title>QLTCXN | ALH</title>
    {% include('_head.html') %}
</head>
<body>
<div class="grid-container">
    {% include('_menubar.html') %}
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <h2 class="text-center">Quản Lý Thu Chi Xuất Nhập</h2>
            <h3>Danh mục:</h3>
            <ul>
                <li><a href="/tenants/show">Cư dân</a></li>
                <li><a href="/rents/show">Thu tiền thuê nhà + điện nước</a></li>
            </ul>
        </div>
    </div>
</div>
{% include '_foot.html' %}
</body>
</html>