<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rents List | ALH</title>
    {% include('_head.html') %}
</head>
<body>
<div class="grid-container">
    {% include('_menubar.html') %}
    <div class="gird-x grid-padding-x" style="margin-top: 5px">
        <div class="cell small-12 medium-12 large-12">
            <label for="btn-add-new-rent"></label>
            <input type="button" class="button" id="btn-add-new-rent" value="Add a new rent">
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <table id="myTable" class="display">
                <thead>
                <tr>
                    <th>Object ID</th>
                    <th>Tenant/Room</th>
                    <th>Week Commence</th>
                    <th>Rent Due</th>
                    <th>Services</th>
                    <th>Utilities</th>
                    <th>Meals</th>
                    <th>Extra</th>
                    <th>Standing Order</th>
                    <th>Payment Date</th>
                    <th>Total Balance</th>
                </tr>
                </thead>
                <tbody>
                {% for rent in rents %}
                    <tr>
                        <td><a href="{{ url_for('read_rent', id=rent._id) }}">...{{ rent._id[-6:] }}</a></td>
                        <td><a href="{{ url_for('read_tenant', id=rent['tenant_id']) }}">{{ rent.tenant_id }}</a></td>
                        <td class="dt-type-date">{{ rent.week_commence }}</td>
                        <td class="dt-type-numeric">{{ rent.rent_due }}</td>
                        <td class="dt-type-numeric">{{ rent.services }}</td>
                        <td class="dt-type-numeric">{{ rent.utilities }}</td>
                        <td class="dt-type-numeric">{{ rent.meals }}</td>
                        <td class="dt-type-numeric">{{ rent.extra }}</td>
                        <td class="dt-type-numeric">{{ rent.standing_order }}</td>
                        <td class="dt-type-date">{{ rent.payment_date }}</td>
                        <td class="dt-type-numeric">{{ rent.total_balance }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% include '_foot.html' %}
<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
    $('#btn-add-new-rent').on("click", function () {
        window.location.href = "/add/rent"
    });
</script>
</body>
</html>