<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rents and Payments Report | ALH</title>
    {% include('_head.html') %}
</head>
<body>
<div class="grid-container">
    {% include('_menubar.html') %}
</div>

<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="small-12 large-12 cell">
            <h3>Reports for the rents and payments</h3>
        </div>
    </div>
</div>
<form id="search-form">
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="cell large-3">
                <label for="tenant">Tenant</label>
                <select id="tenant"></select>
        </div>
        <div class="cell large-3">
            <label for="from-date">From Week/Date</label>
            <input type="date" id="from-date">
        </div>
        <div class="cell large-3">
            <label for="to-date">To Week/Date</label>
            <input type="date" id="to-date">
        </div>
        <div class="cell large-3">
            <label for="btn-search">&nbsp;</label>
            <input type="button" class="button" id="btn-search" value="Search">
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell small-12 medium-4 large-4">
            Rendering results options</div>
        <div class="cell small-12 medium-4 large-4">
            <label for="chk-subtotal-category">
                <input type="checkbox" id="chk-subtotal-category">Sub total for Category
            </label>
        </div>
        <div class="cell small-12 medium-4 large-4">&nbsp;</div>
    </div>
    <hr/>
</div>
</form>

{#<form>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
            <label>Input Label
                <input type="text" placeholder=".medium-6.cell">
            </label>
        </div>
        <div class="medium-6 cell">
            <label>Input Label
                <input type="text" placeholder=".medium-6.cell">
            </label>
        </div>
    </div>
</div>
</form>#}

<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="results cell small-12 medium-12 large-12">
        {% include '_reports-rent-payment.html' %}
        </div>
    </div>
</div>
{% include '_foot.html' %}
<script>
    const tenantSelector = $('#tenant');
    const btnSearchSelector = $('#btn-search');
    const chkSubtotalCategory = $('#chk-subtotal-category');
    const fromDateSelector = $('#from-date');
    const toDateSelector = $('#to-date');

    $(document).ready( function () {
        initTenantDropdownBox();
    });

    function initTenantDropdownBox() {
        {% for tenant in tenants %}
            tenantSelector.append(new Option("{{ tenant['name'] }}", "{{ tenant['_id'] }}"));
        {% endfor %}
        tenantSelector.append(new Option("Choose a tenant", "Choose a tenant"));
        tenantSelector.val("Choose a tenant");
    }

    btnSearchSelector.on("click", function () {
        if ("Choose a tenant" === tenantSelector.val()) {
            toastr.warning("Please choose a valid tenant!!!");
            return false;
        }
        const subTotal = chkSubtotalCategory.is(':checked');
        const URL = "/reports/rent-payment/search"
        const data = {
            "show_subtotal": subTotal,
            "tenant": tenantSelector.val(),
            'from_date': fromDateSelector.val(),
            'to_date': toDateSelector.val()
        }
        fetch(URL, {
            method: 'POST',
            headers: {
                'Accept': 'application/json; charset=utf-8',
                'Content-Type': 'application/json; charset=utf-8'
            },
            body: JSON.stringify(data)
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response failed!!!');
            }
            return response.text();
        }).then(data => {
            $('.results').html(data);
            //console.log(data["message"]);
            //toastr.success(data["message"]);
        }).catch(error => {
            console.error('Error: ', error);
        });

    });
</script>
</body>
</html>