<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reports | ALH</title>
    {% include('_head.html') %}
</head>
<body>
<div class="grid-container">
    {% include('_menubar.html') %}
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <h3>Reports</h3>
            <ul>
                <li><a href="/reports/income">Incomes</a></li>
            </ul>
        </div>
    </div>
</div>

{% include '_foot.html' %}
<script>
    $(document).ready( function () {
        //$('#myTable').DataTable();

    } );
</script>
</body>
</html>