<!DOCTYPE html>
<html lang="en">
<head>

    <title>Tenants List | ALH</title>
    {% include('_head.html') %}
</head>
<body>
<div class="grid-container">
    {% include('_menubar.html') %}
    <div class="gird-x grid-padding-x" style="margin-top: 5px">
        <div class="cell small-12 medium-12 large-12">
            <label for="btn-add-new-tenant">
                <input type="button" class="button" id="btn-add-new-tenant" value="Add a new tenant"></label>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <table id="myTable" class="display">
                <thead>
                <tr>
                    {#<th>Object ID</th>#}
                    <th>Tenant ID</th>
                    <th>Name</th>
                    <th>Gener</th>
                    <th>DOB</th>
                    <th>Room</th>
                    <th>HB</th>
                    <th>Created Date</th>
                    <th>Modified Date</th>
                    <th>Notes</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for tenant in data %}
                    <tr id="tr-{{ tenant._id }}">
                        <td><a href="{{ url_for('read_tenant', id=tenant.id) }}">{{ tenant.id }}</a></td>
                        <td>{{ tenant.name }}</td>
                        <td>{{ tenant.gender }}</td>
                        <td>{{ tenant.dob }}</td>
                        <td>{{ tenant.room }}</td>
                        <td>{{ tenant.hb }}</td>
                        <td>{{ tenant.creation }}</td>
                        <td>{{ tenant.modification }}</td>
                        <td>{{ tenant.notes }}</td>
                        <td><a id="{{ tenant._id }}" class="delete-tenant">Delete</a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
</div>

{% include '_foot.html' %}
<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
    $('#btn-add-new-tenant').on("click", function () {
        window.location.href = "/add/tenant"
    });
    $(".delete-tenant").on("click", function () {
        if (!confirm("Are you sure to delete this record?")) {
            return false;
        }
        const _id = $(this).prop("id");
        const URL = "/tenant/delete/" + _id;
        fetch(URL, {
            method: 'DELETE',
            headers: {
                'Accept': 'application/json; charset=utf-8',
                'Content-Type': 'application/json; charset=utf-8'
            },
            body: JSON.stringify({"_id": _id})
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response failed!!!');
            }
            return response.json();
        }).then(data => {
            console.log(data);
            toastr.success(data["status_code"] + ": " + data["message"]);
            $("#tr-"+_id).remove();
        }).catch(error => {
            console.error('Error: ', error);
        });
    });
</script>
</body>
</html>